@use '../shared/styles/colors.scss' as *;

form {
  display: grid;
  gap: 40px;

  border: none;
  border-radius: 8px;

  background-color: $gray600;

  padding: 50px;
  width: 40vw;

  @media screen and (max-width: 800px) {
    width: 70vw;
  }

  @media screen and (max-width: 600px) {
    width: 90vw;
  }
}

h2 {
  color: $orange;
  text-align: center;
}

fieldset {
  display: grid;
  gap: 12px;
}
