$gray800: #353535;
$gray600: #4f4f4f;
$gray400: #6a6a6a;
$gray300: #bdbbbb;
$gray200: #d9d9d9;
$orange: #f9a620;
$yellow: #ffd449;
$red600: #850a0a;
$red300: #a70b0b;
$green600: #104911;
$green300: #548c2f;
$white: #FFFFFF;
$black: #000000;
